/* use catppuccin color palette */
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
    color-scheme: light dark;
}

* {
    background-color: light-dark(var(--ctp-latte-base), var(--ctp-frappe-base));
    color: light-dark(var(--ctp-latte-text), var(--ctp-frappe-text));
}
